body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	background: #5b5b5b;
	text-align: center;
	background: url('../images/body-bg.png') no-repeat;
	background-size: cover;
}
h1, h2, h3, h4, h5, li {
	text-transform: uppercase;
}
h1 {
	color: #ccc;
	font-size: 124px;
	letter-spacing: -13px;
	margin-bottom: 0;
	line-height: 100px;
	text-shadow: 1px 1px 1px #000;
}
h2 {
	color: #ecf0f1;
	font-size: 126px;
	letter-spacing: -15px;
	margin: 0;
	line-height: 84px;
	text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}
h3 {
	color: rgba(255,255,255,0.5);
	font-size: 29px;
	font-weight: 300;
	letter-spacing: 0;
}
h4 {
	color: rgba(255,255,255,0.5);
	font-size: 24px;
	font-weight: 300;
}
h5, h6, li {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	letter-spacing: 1px
}
h5 {
	color: rgba(255,255,255,0.7);
	font-size: 12px;
	font-weight: 400;
}
h6 {
	color: #ecf0f1;
	font-size: 12px;
	font-weight: 400;
}
ul, li {
	list-style-type: none; 
}
li {
	color: rgba(255,255,255,0.8);
	font-size: 12px;
	line-height: 1.5;
}