@font-face {
  font-family: 'plainblack';
  src: url("fonts/plain-black-webfont.woff2") format("woff2"),url("fonts/plain-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'plainblackitalic';
  src: url("fonts/plain-blackitalic-webfont.woff2") format("woff2"),url("fonts/plain-blackitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'plainbold';
  src: url("fonts/plain-bold-webfont.woff2") format("woff2"),url("fonts/plain-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'plainlight';
  src: url("fonts/plain-light-webfont.woff2") format("woff2"),url("fonts/plain-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: GothamProRegular;
  src: url("fonts/GothamProRegular.eot");
  src: url("fonts/GothamProRegular.eot?#iefix") format("embedded-opentype"),url("fonts/GothamProRegular.woff") format("woff"),url("fonts/GothamProRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: GothamProMedium;
  src: url("fonts/GothamProMedium.eot");
  src: url("fonts/GothamProMedium.eot?#iefix") format("embedded-opentype"),url("fonts/GothamProMedium.woff") format("woff"),url("fonts/GothamProMedium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: GothamProBold;
  src: url("fonts/GothamProBold.eot");
  src: url("fonts/GothamProBold.eot?#iefix") format("embedded-opentype"),url("fonts/GothamProBold.woff") format("woff"),url("fonts/GothamProBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: GothamProBlack;
  src: url("fonts/GothamProBlack.eot");
  src: url("fonts/GothamProBlack.eot?#iefix") format("embedded-opentype"),url("fonts/GothamProBlack.woff") format("woff"),url("fonts/GothamProBlack.ttf") format("truetype");
  font-weight: normal;
  font-style: normal
}

body {
	font-family: GothamProRegular, sans-serif;
	margin: 0;
	padding: 0;
	background: #5b5b5b;
	text-align: center;
	background: url('../images/body-bg.png') no-repeat;
	background-size: cover;
}
h1 {
	color: #ccc;
	letter-spacing: -13px;
	margin-bottom: 0;
	text-shadow: 1px 1px 1px #000;
	text-transform: uppercase;
	font: normal 400 118px/100px GothamProBold;
}
h2 {
	color: #ecf0f1;
	font-size: 126px;
	letter-spacing: -15px;
	margin: 0;
	/* line-height: 84px; */
	text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
	font-family: GothamProBold;
	text-transform: uppercase;
}
h3 {
	color: rgba(255,255,255,0.5);
	font-size: 29px;
	font-weight: 300;
	letter-spacing: 0;
	font-family: GothamProRegular;
	text-transform: uppercase;
}
h4 {
	color: rgba(255,255,255,0.5);
	font-size: 24px;
	font-weight: 300;
	font-family: GothamProRegular;
	text-transform: uppercase;
	margin: 40px 0 0;
}
h5, h6, li {
	/* font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
	letter-spacing: 1px;
}
h5 {
	color: rgba(255,255,255,0.7);
	font-size: 12px;
	font-weight: 400;
}
h6 {
	color: #ecf0f1;
	font-size: 12px;
	font-weight: 400;
}
ul, li {
	list-style-type: none;
	padding: 0;
}
li {
	color: rgba(255,255,255,0.8);
	font: normal 400 14px/1.5 GothamProRegular;
	text-transform: inherit;
}
.link {
	color: yellow;
	text-decoration: none;
	border-bottom: 1px solid;
	padding-bottom: 3px;
}
/* Scales by 1px for every 100px from 600px onwards */
  @media only screen and (min-width: 600px) {
    h1 {
			font-size:
		}
		h2 {

		}
		h3 {

		}
		h4 {

		}
  }

  /* Sets font-size to 22px after a viewport of 1000px */
  @media only screen and (min-width: 1000px) {
    font-size: calc(137.5%);
  }