
html {
  width: 100%;
  height: 100%;
  perspective: 900;
}
body {
  font-family: 'Hiragino Kaku Gothic Pro', 'Meiryo', sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  color: #39464E;
  overflow: hidden;
  background-color: #fff;
  position: relative;
  
}
body * {
  box-sizing: border-box;
}
body a {
  -webkit-transition: 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-tap-highlight-color: transparent;
  &:hover, &:focus {
    text-decoration: none;
  }
}

// tabs

.tabs-wrapper {
  min-width: 320px;
  padding: 20px;
  margin: 0 auto;
  background: #fff;
  section {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #ddd;
  }

  input {
    display: none;
  }

  label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    @include rem('font-size', 13px);
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;
  }

  label:before {
    font-family: "simple-line-icons";
    font-weight: normal;
    margin-right: 10px;
  }

  label[for*='1']:before { content: "\e005"; }
  label[for*='2']:before { content: "\e049"; }
  label[for*='3']:before { content: "\e02a"; }
  label[for*='4']:before { content: "\e001"; }
  label[for*='5']:before { content: '\f1a9'; }
  label[for*='6']:before { content: '\f1a9'; }

  label:hover {
    color: #888;
    cursor: pointer;
  }

  input:checked + label {
    color: #555;
    border: 1px solid #ddd;
    border-top: 2px solid $brand-color;
    border-bottom: 1px solid #fff;
  }

  #tab1:checked ~ #content1,
  #tab2:checked ~ #content2,
  #tab3:checked ~ #content3,
  #tab4:checked ~ #content4,
  #tab5:checked ~ #content5,
  #tab6:checked ~ #content6 {
    display: block;
  }
}



@media screen and (max-width: 650px) {
  .tabs-wrapper {
    label {
      font-size: 0;
    }
    label:before {
      margin: 0;
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 400px) {
  .tabs-wrapper {
    label {
      padding: 15px;
    }
  }
}

//  tab end

.this-responsive {
  min-width: 320px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* layout */
.nav_wrap {
  margin: 0;
  padding: 0;
  background-color: $bg-color-new;
  position: relative;
  flex: 0 0 158px;
}

#main {
  flex: 1;
  outline: none;
  position: relative;
  min-width: calc(100vw - 228px);
  overflow: hidden;
  .header-top {
    @include clearfix();
    background: $white;
    padding: 11px 20px;
    box-shadow: 0 1px 2px 0 rgba($black, .3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 996;
    .company-logo {
      float: left;
      margin-left: 115px;
    }
    .avatar-wrapper {
      float: right;
    }
    .user_name {
      @include rem('font-size', 13px);
    }
    .avatar {
      display: inline-block;
      width: 40px;
      height: 40px;
      background-color: darken($teal-color, 17%);
      color: $white;
      text-align: center;
      line-height: 40px;
      @include rem('font-size', 18px);
      border-radius: 50%;
    }
  }
}
@media (max-width: 720px) {
  .company-logo {
    display: none;
  }
}

#nav {
  position: relative;
  width: 100%;
  height: 100vh;
  border: 0;
  border-right: 1px solid #e7eaec;
  overflow: auto;
  padding: 15px;
}


// menu 

.menu-trigger {
  position: fixed;
  z-index: 997;
  border-right: 1px solid rgba(57, 70, 78, 0.2);
  padding: 19px 20px 18px;
  background-color: $white;
  i {
    @include rem('font-size', 18px);
    font-weight: 700;
  }
  span {
    padding-left: 5px;
    position: relative;
    top: -2px;
    @include rem('font-size', 13px);
  }
}
.nav-mobile-menu-wrap {
  position: fixed;
  top: 62px;
  height: 100%;
  width: 205px;
  // background-color: rgba(11, 29, 29, 0.95);
  background-color: darken($teal-color, 17%);

  border-left: 1px solid hsla(0,0%,100%,.07);
  -webkit-transition: .3s;
  transition: .3s;
  z-index: 200;
  overflow-y: auto;
  padding-bottom: 70px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -ms-transform: translateZ(0);
}
.nav-mobile-menu-wrap {
  box-shadow: none;
  -webkit-transition: all .3s cubic-bezier(.075,.82,.165,1)!important;
  transition: all .3s cubic-bezier(.075,.82,.165,1)!important;
}
.nav-mobile-menu-wrap.right {
  right: 0;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -ms-transform: translateX(100%);
  border-left: 1px solid hsla(0,0%,100%,.07);
}
.nav-mobile-menu-wrap.left {
  left: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  border-right: 1px solid hsla(0,0%,100%,.07);
}
.fake-checkbox:checked ~ .nav-mobile-menu-wrap {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -ms-transform: translateX(0);
}
.nav-mobile-menu-wrap.out {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -ms-transform: translateX(0);
}

.main-content-placeholder {
  height: calc(100vh - 98px);
  overflow-y: auto;
  margin-top: 63px;
  -webkit-overflow-scrolling: touch;
}

.footer {
  background: none repeat scroll 0 0 #f8f8f8;
  border-top: 1px solid rgba($black,0.1);
  padding: 10px 20px;
  @include rem('font-size', 10px);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}


// @media (max-width: 920px) {
//   .nav_wrap { display: none; }
// }

@media (min-width: 920px) {
  // body { height: 100%; overflow: hidden; }
  #main { height: 100%; overflow: auto; }
  #search { display: none; }
  #search_frame { display: none; }
}


.primary-nav {
  padding-left: 0;
  padding-top: 48px;
  list-style-type: none;
  .nav-header {
    border-bottom: 1px solid rgba(255,255,255,0.1);
    padding-bottom: 20px;
    margin-bottom: 20px;
    > div {
      display: block;
      text-align: center;
      span {
        display: block;
        font-family: $font-family;
        &.role {
          @include rem('font-size', 9px);
          text-transform: uppercase;
          color: #888;
        }
        &.name {
          font-style: normal;
          font-weight: 500;
          padding-top: 1rem;
          @include rem('font-size', 11px);
          text-transform: uppercase;
          color: #999;
        }
      }
      img {
        max-width: 100%;
      }
    }
  }
  a {
    font-family: $font-family;
    @include rem('font-size', 11px);
    line-height: 35px;
    height: 36px;
    display: block;
    // color: rgb(141, 160, 170);
    color: lightn($teal-color, 10%);
    i {
      margin-right: 10px;
      color: rgba($white, 0.5);
      vertical-align: middle;
      @include rem('font-size', 18px);
      & + span {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        vertical-align: middle;
      }
    }
    &:hover {
      color: #f7f7f7;
      background-color: #004d4d;
    }
  }
} 




.hamburger {
  font: inherit;
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 18px 13px 16px;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: .15s;
  transition-property: opacity,filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: $bg-color-new;
  position: fixed;
  left: 89px;
  z-index: 998;
  &:hover {
    opacity: .7
  }
}

.hamburger-box {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 24px
}

.hamburger-inner {
  top: 50%;
  display: block;
  margin-top: -2px
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
  position: absolute;
  width: 32px;
  height: 4px;
  transition-timing-function: ease;
  transition-duration: .15s;
  transition-property: transform;
  border-radius: 4px;
  background-color: #8da0aa;
}

.hamburger-inner:after,
.hamburger-inner:before {
  display: block;
  content: ''
}

.hamburger-inner:before {
  top: -7px
}

.hamburger-inner:after {
  bottom: -7px
}

.hamburger-box {
  perspective: 80px
}
.hamburger-fake-icon {
  position: fixed;
  z-index: 999;
  width: 60px;
  height: 60px;
  opacity: 0;
  left: 89px;
  cursor: pointer;
}
.hamburger-fake-icon:checked ~ .hamburger--arrow {
  .hamburger-inner:before {
    transform: translate3d(8px,0,0) rotate(45deg) scaleX(.7)
  }
  .hamburger-inner:after {
    transform: translate3d(8px,0,0) rotate(-45deg) scaleX(.7)
  }
}

.hamburger-fake-icon:checked {
  left: 0;
  & ~ .hamburger {
    left: 0;
  } 
}
.hamburger-fake-icon:checked ~ .nav_wrap {
  // width: 70px;
  flex: 0 0 60px;
  span {
    display: none;
  }
  .primary-nav a {
    text-align: center;
    margin-bottom: 6px;
  }
  .icons {
    font-size: 20px !important;
    margin-right: 0 !important;
  }
  .primary-nav {
    padding-top: 50px;
  }
}

// .hamburger--arrow.is-active .hamburger-inner:before {
//   transform: translate3d(-8px,0,0) rotate(-45deg) scaleX(.7)
// }

// .hamburger--arrow.is-active .hamburger-inner:after {
//   transform: translate3d(-8px,0,0) rotate(45deg) scaleX(.7)
// }



#nav::-webkit-scrollbar, .main-content-placeholder::-webkit-scrollbar {
    width: .5em;
}
 
#nav::-webkit-scrollbar-track, .main-content-placeholder::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba($black,0.3);
}
 
#nav::-webkit-scrollbar-thumb, .main-content-placeholder::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}




//  2nd style

.transition, ol, ul.m-menu li i.drop-cap:before, ul.m-menu li i.drop-cap:after {
  transition: all 0.25s ease-in-out;
}
ol {
  transform: translate(0, 0);
  position: relative;
  z-index: 2;
  opacity: 1;
  // list-style-type: none;
  // padding-left: 28px;
  color:  #678080;
  li {
    @include rem('font-size', 13px);
  }
}
.flipIn, ul.m-menu li {
  animation: flipdown 0.5s ease both;
}

input.fake-checkbox {
  position: fixed;
  z-index: 999;
  width: 102px;
  height: 62px;
  opacity: 0;
  cursor: pointer !important;
}
ul.m-menu {
  list-style: none;
  perspective: 900;
  padding: 20px 0 0 0;
  margin: 0;
  li {
    position: relative;
    padding: 0;
    margin: 0 0 7px;
    animation: flipdown 0.5s ease both;
    a {
      font-family: $font-family;
      @include rem('font-size', 13px);
      padding-left: 25px;
    }
    ol {
      li {
        a {
          line-height: 25px;
          height: 26px;
          padding-left: 10px;
        }
      }
    }
    i {
      &.drop-cap {
        position: absolute;
        transform: translate(-6px, 0);
        margin-top: 12px;
        right: 25px;
        &:before, &:after { 
          content: "";
          position: absolute;
          background-color: rgba(#678080, 1);
          width: 3px;
          height: 9px;
        }
        &:before {
          transform: translate(-2px, 0) rotate(45deg);
        }
        &:after {
          transform: translate(2px, 0) rotate(-45deg);
        }
      }
    }
    input[type=checkbox] {
      position: absolute;
      cursor: pointer;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
      &:checked ~ {
        ol {
          margin-top: 0;
          max-height: 0;
          opacity: 0;
          list-style-type: none;
          transform: translate(0, 50%);

        }
        i.drop-cap:before {
          transform: translate(2px, 0) rotate(45deg);
        }
        i.drop-cap:after {
          transform: translate(-2px, 0) rotate(-45deg);
        }
      }
    }
  }
}


@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  83% {
    transform: rotateX(6deg);
  }
  92% {
    transform: rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}

#showHide {
  color: $brand-color;
  // @include rem('font-size', 12px);
  position: relative;
  text-decoration: none;
  top: -2px;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}



.custom-col-form {
  ul {
    padding-left: 0;
  }
  li {
    float: left;
    min-width: calc(100% / 3);
    list-style-type: none;
    padding-bottom: 10px;
    @include rem('font-size', 13px);
    strong {
      display: inline-block;
      min-width: 130px;
    }
    span {
      margin-left: 10px;
    }
  }
}

.card-block {
  dl {
    @include rem('font-size', 12px);
  }
}
.inline-custom-form {
  .form-group {
    margin-bottom: 0.5rem;
  }
  label {
    @include rem('font-size', 13px);
  }
}
.form-control-custom {
  min-height: 26px;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 13px;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
  line-height: 20px;
  color: #333;
  vertical-align: middle;
  border-radius: 3px;
  outline: none;
}
.form-link {
  @include rem('font-size', 11px);
}


@media only screen and (max-device-width: 668px) {
  .custom-col-form {
    li {
      float: none;

      @include rem('font-size', 11px);
      strong {
        display: inline-block;
        min-width: 130px;
      }
      span {
      }
    }
  }
}



// login

$facebook-color: rgb(59,89,152);
$google-color: rgb(220,74,56);

.signup-logo-big {
  text-align: center;
  clear: both;
  img {
    max-width: 100px;
    margin-top: 25px;
    margin-bottom: 53px;
  }
}

section.login {
  @include rem('font-size', 13px);
  height: 100vh;
  overflow: auto;
  text-align: center;
  width: 100%;
  .forms {
    padding: 0 15px 35px;
    max-width: 320px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
  }
  a {
    color: $brand-color;
  }
  .login-email {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  label {
    display: block;
    a {
      float: right;
    }
  }
  .copyright-info {
    padding-top: 30px;
    @include rem('font-size', 11px);
  }
}
.btn {
  &.facebook-btn {
    background-color: $facebook-color !important;
    border-color: darken($facebook-color,5%) !important;
    box-shadow: none !important;
  }
  &.google-btn {
    background-color: $google-color !important;
    border-color: darken($google-color,5%) !important;
    box-shadow: none !important;
  }
}

.details-page {
  .card {
    margin-bottom: 20px;
    a {
      color: $brand-color;
    }
  }
}

@media (max-width: 768px) {
  .btn-group-sm-s>.btn {
    padding: .25rem .5rem;
    font-size: .875rem;
    border-radius: .2rem;
  }
}
button, input[type=button], input[type=reset], input[type=submit] {
  cursor: pointer !important;
  -webkit-appearance: button;
}


.partner-admin-information {
  @include clearfix();
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.125);
  border-radius: 5px;
  > div {
    float: left;
    width: 50%;
    h5 {
      padding: .75rem 1.25rem;
      margin-bottom: 0;
      background-color: #f7f7f9;
      border: 1px solid rgba(0,0,0,0.125);
      border-left: none;
    }
    &:last-child {
      h5 {
        border-right: none;
      }
    }
    > div {
      padding: 20px;
      
    }
  }
  a {
    color: $brand-color;
  }
  ol {
    padding-left: 16px;
    color: #333;
    li {
      padding-bottom: 4px;
    }
  }
}


@media (max-width: 600px) {
  .partner-admin-information {
    border-radius: 5px;
    > div {
      float: none;
      width: 100%;
    }
    ol {
      padding-top: 15px;
    }
  }
  .text-right {
    text-align: left !important;
  }
  .custom-col-form {
    li {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      * {
        word-break: break-all;
      }
      strong {
        -webkit-flex: 1 0 0;
        flex: 1 0 0;
      }
      span {
        -webkit-flex: 1 0 0;
        flex: 1 0 0;
      }
    }
  }
}


.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}




.flexcontainer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  strong {
    -webkit-flex: 1 0 0;
    flex: 1 0 0;
  }
  span {
    -webkit-flex: 1 0 0;
    flex: 1 0 0;
  }
}



@media only screen and (min-width:690px) and (max-width: 910px)  {
  .custom-col-form li {
    min-width: calc(100% / 2);
  }
}
@media (max-width: 689px)  {
  .custom-col-form li {
    min-width: 100%;
  }
}