
html {
  width: 100%;
  height: 100%;
  perspective: 900;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  color: #39464E;
  overflow: hidden;
  background-color: $bg-color;
  position: relative;
}
body * {
  box-sizing: border-box;
}
body a {
  -webkit-transition: 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-tap-highlight-color: transparent;
  &:hover, &:focus {
    text-decoration: none;
  }
}



.this-responsive {
  min-width: 320px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* layout */
.nav_wrap {
  margin: 0;
  padding: 0;
  background-color: $bg-color-new;
  position: relative;
  flex: 0 0 158px;
}

#main {
  flex: 1;
  outline: none;
  position: relative;
  min-width: calc(100vw - 228px);
  overflow: hidden;
  .header-top {
    @include clearfix();
    background: $white;
    padding: 11px 20px;
    box-shadow: 0 1px 2px 0 rgba($black, .3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 996;
    .company-logo {
      float: left;
      margin-left: 100px;
    }
    .avatar-wrapper {
      float: right;
    }
    .avatar {
      display: inline-block;
      width: 40px;
      height: 40px;
      background-color: $bg-color-new;
      color: $white;
      text-align: center;
      line-height: 40px;
      @include rem('font-size', 18px);
      border-radius: 50%;
    }
  }
}
@media (max-width: 720px) {
  .company-logo {
    display: none;
  }
}

#nav {
  position: relative;
  width: 100%;
  height: 100vh;
  border: 0;
  border-right: 1px solid #e7eaec;
  overflow: auto;
  padding: 15px;
}


// menu 

.menu-trigger {
  position: fixed;
  z-index: 997;
  border-right: 1px solid rgba(57, 70, 78, 0.2);
  padding: 19px 20px 18px;
  background-color: $white;
  i {
    @include rem('font-size', 18px);
    font-weight: 700;
  }
  span {
    padding-left: 5px;
    position: relative;
    top: -2px;
    @include rem('font-size', 13px);
  }
}
.nav-mobile-menu-wrap {
  position: fixed;
  top: 62px;
  height: 100%;
  width: 275px;
  background-color: rgba($bg-color-new, .97);
  border-left: 1px solid hsla(0,0%,100%,.07);
  -webkit-transition: .3s;
  transition: .3s;
  z-index: 200;
  overflow-y: auto;
  padding-bottom: 70px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -ms-transform: translateZ(0);
}
.nav-mobile-menu-wrap {
  box-shadow: none;
  -webkit-transition: all .3s cubic-bezier(.075,.82,.165,1)!important;
  transition: all .3s cubic-bezier(.075,.82,.165,1)!important;
}
.nav-mobile-menu-wrap.right {
  right: 0;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -ms-transform: translateX(100%);
  border-left: 1px solid hsla(0,0%,100%,.07);
}
.nav-mobile-menu-wrap.left {
  left: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  border-right: 1px solid hsla(0,0%,100%,.07);
}
.fake-checkbox:checked ~ .nav-mobile-menu-wrap {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -ms-transform: translateX(0);
}
.nav-mobile-menu-wrap.out {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -ms-transform: translateX(0);
}

.main-content-placeholder {
  height: calc(100vh - 98px);
  overflow-y: auto;
  margin-top: 63px;
  -webkit-overflow-scrolling: touch;
}

.footer {
  background: none repeat scroll 0 0 white;
  border-top: 1px solid rgba($black,0.1);
  padding: 10px 20px;
  @include rem('font-size', 10px);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}


// @media (max-width: 920px) {
//   .nav_wrap { display: none; }
// }

@media (min-width: 920px) {
  // body { height: 100%; overflow: hidden; }
  #main { height: 100%; overflow: auto; }
  #search { display: none; }
  #search_frame { display: none; }
}


.primary-nav {
  padding-left: 0;
  padding-top: 48px;
  list-style-type: none;
  .nav-header {
    border-bottom: 1px solid rgba(255,255,255,0.1);
    padding-bottom: 20px;
    margin-bottom: 20px;
    > div {
      display: block;
      text-align: center;
      span {
        display: block;
        font-family: $font-family;
        &.role {
          @include rem('font-size', 9px);
          text-transform: uppercase;
          color: #888;
        }
        &.name {
          font-style: normal;
          font-weight: 500;
          padding-top: 1rem;
          @include rem('font-size', 11px);
          text-transform: uppercase;
          color: #999;
        }
      }
      img {
        max-width: 100%;
      }
    }
  }
  a {
    font-family: $font-family;
    @include rem('font-size', 11px);
    line-height: 35px;
    height: 36px;
    display: block;
    color: rgb(141, 160, 170);
    i {
      margin-right: 10px;
      // color: #0093d9;
      color: #ff6f40;
      @include rem('font-size', 18px);
      & + span {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
    &:hover {
      // color: rgb(28, 130, 225);
      color: #f7f7f7;
    }
  }
} 




.hamburger {
  font: inherit;
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 18px 13px 16px;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: .15s;
  transition-property: opacity,filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: $bg-color-new;
  position: fixed;
  left: 89px;
  z-index: 998;
  &:hover {
    opacity: .7
  }
}

.hamburger-box {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 24px
}

.hamburger-inner {
  top: 50%;
  display: block;
  margin-top: -2px
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
  position: absolute;
  width: 32px;
  height: 4px;
  transition-timing-function: ease;
  transition-duration: .15s;
  transition-property: transform;
  border-radius: 4px;
  background-color: #8da0aa;
}

.hamburger-inner:after,
.hamburger-inner:before {
  display: block;
  content: ''
}

.hamburger-inner:before {
  top: -7px
}

.hamburger-inner:after {
  bottom: -7px
}

.hamburger-box {
  perspective: 80px
}
.hamburger-fake-icon {
  position: fixed;
  z-index: 999;
  width: 60px;
  height: 60px;
  opacity: 0;
  left: 89px;
  cursor: pointer;
}
.hamburger-fake-icon:checked ~ .hamburger--arrow {
  .hamburger-inner:before {
    transform: translate3d(8px,0,0) rotate(45deg) scaleX(.7)
  }
  .hamburger-inner:after {
    transform: translate3d(8px,0,0) rotate(-45deg) scaleX(.7)
  }
}

.hamburger-fake-icon:checked {
  left: 0;
  & ~ .hamburger {
    left: 0;
  } 
}
.hamburger-fake-icon:checked ~ .nav_wrap {
  // width: 70px;
  flex: 0 0 60px;
  span {
    display: none;
  }
  .primary-nav a {
    text-align: center;
    margin-bottom: 6px;
  }
  .icons {
    font-size: 20px !important;
    margin-right: 0 !important;
  }
  .primary-nav {
    padding-top: 50px;
  }
}

// .hamburger--arrow.is-active .hamburger-inner:before {
//   transform: translate3d(-8px,0,0) rotate(-45deg) scaleX(.7)
// }

// .hamburger--arrow.is-active .hamburger-inner:after {
//   transform: translate3d(-8px,0,0) rotate(45deg) scaleX(.7)
// }



#nav::-webkit-scrollbar, .main-content-placeholder::-webkit-scrollbar {
    width: .5em;
}
 
#nav::-webkit-scrollbar-track, .main-content-placeholder::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba($black,0.3);
}
 
#nav::-webkit-scrollbar-thumb, .main-content-placeholder::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}




//  2nd style

.transition, ol, ul.m-menu li i.drop-cap:before, ul.m-menu li i.drop-cap:after {
  transition: all 0.25s ease-in-out;
}
ol {
  transform: translate(0, 0);
  position: relative;
  z-index: 2;
  opacity: 1;
  // list-style-type: none;
  // padding-left: 28px;
  color: #ff6873;
  li {
    @include rem('font-size', 13px);
  }
}
.flipIn, ul.m-menu li {
  animation: flipdown 0.5s ease both;
}

input.fake-checkbox {
  position: fixed;
  z-index: 999;
  width: 102px;
  height: 62px;
  opacity: 0;
  cursor: pointer !important;
}
ul.m-menu {
  list-style: none;
  perspective: 900;
  padding: 20px 0 0 25px;
  margin: 0;
  li {
    position: relative;
    padding: 0;
    margin: 0 0 7px;
    animation: flipdown 0.5s ease both;
    a {
      font-family: $font-family;
      @include rem('font-size', 13px);
    }
    ol {
      li {
        a {
          line-height: 25px;
          height: 26px;
        }
      }
    }
    i {
      &.drop-cap {
        position: absolute;
        transform: translate(-6px, 0);
        margin-top: 12px;
        right: 8px;
        &:before, &:after { 
          content: "";
          position: absolute;
          background-color: #ff6f40;
          width: 3px;
          height: 9px;
        }
        &:before {
          transform: translate(-2px, 0) rotate(45deg);
        }
        &:after {
          transform: translate(2px, 0) rotate(-45deg);
        }
      }
    }
    input[type=checkbox] {
      position: absolute;
      cursor: pointer;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
      &:checked ~ {
        ol {
          margin-top: 0;
          max-height: 0;
          opacity: 0;
          list-style-type: none;
          transform: translate(0, 50%);

        }
        i.drop-cap:before {
          transform: translate(2px, 0) rotate(45deg);
        }
        i.drop-cap:after {
          transform: translate(-2px, 0) rotate(-45deg);
        }
      }
    }
  }
}


@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  83% {
    transform: rotateX(6deg);
  }
  92% {
    transform: rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}





