
html {
  width: 100%;
  height: 100%;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  color: #39464E;
  overflow: hidden;
  background-color: $bg-color;
}
body * {
  box-sizing: border-box;
}
body a {
  -webkit-transition: 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-tap-highlight-color: transparent;
  &:hover, &:focus {
    text-decoration: none;
  }
}



.this-responsive {
  min-width: 320px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* layout */
.nav_wrap {
  margin: 0;
  padding: 0;
  background-color: #323538;
  position: relative;
  flex: 0 0 158px;
}

#main {
  flex: 1;
  outline: none;
  position: relative;
  min-width: calc(100vw - 218px);
  overflow: hidden;
  .header-top {
    @include clearfix();
    background: #fff;
    padding: 11px 20px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.3);
  }
  
}
#nav {
  position: relative;
  width: 100%;
  height: 100vh;
  border: 0;
  border-right: 1px solid #e7eaec;
  overflow: auto;
  padding: 15px;
}


// menu 

input[type=checkbox]:checked + p {
  color : red;
}
.nav-mobile-menu-wrap {
  position: fixed;
  top: 0;
  opacity: .97;
  height: 100%;
  width: 275px;
  background-color: #263445;
  border-left: 1px solid hsla(0,0%,100%,.07);
  -webkit-transition: .3s;
  transition: .3s;
  z-index: 200;
  overflow-y: auto;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -ms-transform: translateZ(0);
}
.nav-mobile-menu-wrap {
  box-shadow: none;
  -webkit-transition: all .3s cubic-bezier(.075,.82,.165,1)!important;
  transition: all .3s cubic-bezier(.075,.82,.165,1)!important;
}
.nav-mobile-menu-wrap.right {
  right: 0;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -ms-transform: translateX(100%);
  border-left: 1px solid hsla(0,0%,100%,.07);
}
.nav-mobile-menu-wrap.left {
  left: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  border-right: 1px solid hsla(0,0%,100%,.07);
}
input[type=checkbox]:checked ~ .nav-mobile-menu-wrap {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -ms-transform: translateX(0);
}
.nav-mobile-menu-wrap.out {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -ms-transform: translateX(0);
}

.main-content-placeholder {
  height: calc(100vh - 98px);
  overflow-y: auto;
}

.footer {
  background: none repeat scroll 0 0 white;
  border-top: 1px solid rgba(0,0,0,0.1);
  padding: 10px 20px;
  @include rem('font-size', 10px);
}


// @media (max-width: 920px) {
//   .nav_wrap { display: none; }
// }

@media (min-width: 920px) {
  body { height: 100%; overflow: hidden; }
  #main { height: 100%; overflow: auto; }
  #search { display: none; }
  #search_frame { display: none; }
}


.primary-nav {
  padding-left: 0;
  padding-top: 48px;
  list-style-type: none;
  .nav-header {
    border-bottom: 1px solid rgba(255,255,255,0.1);
    padding-bottom: 20px;
    margin-bottom: 20px;
    > div {
      display: block;
      text-align: center;
      span {
        display: block;
        font-family: $font-family;
        &.role {
          @include rem('font-size', 9px);
          text-transform: uppercase;
          color: #888;
        }
        &.name {
          font-style: normal;
          font-weight: 500;
          padding-top: 1rem;
          @include rem('font-size', 11px);
          text-transform: uppercase;
          color: #999;
        }
      }
      img {
        max-width: 100%;
      }
    }
  }
  a {
    font-family: $font-family;
    @include rem('font-size', 11px);
    line-height: 35px;
    height: 36px;
    display: block;
    color: rgb(141, 160, 170);
    i {
      margin-right: 10px;
      // color: #0093d9;
      color: #ff6f40;
      @include rem('font-size', 18px);
      & + span {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
    &:hover {
      // color: rgb(28, 130, 225);
      color: #f7f7f7;
    }
  }
} 




.hamburger {
  font: inherit;
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 18px 18px 16px;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: .15s;
  transition-property: opacity,filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: #323538;
  position: fixed;
  left: 89px;
  z-index: 998;
  &:hover {
    opacity: .7
  }
}

.hamburger-box {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 24px
}

.hamburger-inner {
  top: 50%;
  display: block;
  margin-top: -2px
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
  position: absolute;
  width: 32px;
  height: 4px;
  transition-timing-function: ease;
  transition-duration: .15s;
  transition-property: transform;
  border-radius: 4px;
  background-color: #888;
}

.hamburger-inner:after,
.hamburger-inner:before {
  display: block;
  content: ''
}

.hamburger-inner:before {
  top: -7px
}

.hamburger-inner:after {
  bottom: -7px
}

.hamburger-box {
  perspective: 80px
}
.hamburger-fake-icon {
  position: fixed;
  z-index: 999;
  width: 70px;
  height: 60px;
  opacity: 0;
  left: 89px;
  cursor: pointer;
}
.hamburger-fake-icon:checked ~ .hamburger--arrow {
  .hamburger-inner:before {
    transform: translate3d(8px,0,0) rotate(45deg) scaleX(.7)
  }
  .hamburger-inner:after {
    transform: translate3d(8px,0,0) rotate(-45deg) scaleX(.7)
  }
}

.hamburger-fake-icon:checked {
  left: 0;
  & ~ .hamburger {
    left: 0;
  } 
}
.hamburger-fake-icon:checked ~ .nav_wrap {
  // width: 70px;
  flex: 0 0 70px;
  span {
    display: none;
  }
  .primary-nav a {
    text-align: center;
    margin-bottom: 10px;
  }
  .icons {
    font-size: 25px !important;
    margin-right: 0 !important;
  }
  .primary-nav {
    padding-top: 50px;
  }
}

// .hamburger--arrow.is-active .hamburger-inner:before {
//   transform: translate3d(-8px,0,0) rotate(-45deg) scaleX(.7)
// }

// .hamburger--arrow.is-active .hamburger-inner:after {
//   transform: translate3d(-8px,0,0) rotate(45deg) scaleX(.7)
// }



#nav::-webkit-scrollbar, .main-content-placeholder::-webkit-scrollbar {
    width: .5em;
}
 
#nav::-webkit-scrollbar-track, .main-content-placeholder::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
#nav::-webkit-scrollbar-thumb, .main-content-placeholder::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}