// Contextual backgrounds

@mixin bg-variant($parent, $color) {
  #{$parent} {
    background-color: rgba($color, 0.19) !important;
    color: darken($color, 5%) !important;
  }
  a#{$parent} {
    @include hover-focus {
      background-color: darken($color, 10%) !important;
    }
  }
}
