td {
    .btn {
        text-decoration: none !important;
        color: #ec5328;
        border-width: 1px !important;
    }
}



.rtable {
    th, td {
        width: 1%;
        text-align: center;
        // border: none;
        @include rem('font-size', 12px);
    }
}

