.search-panel-section {
	@include clearfix();
	padding: 20px;
	margin-top: 5px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	fieldset {
		width: calc(100% / 4);
		float: left;
	}
	label {
		@include rem('font-size', 13px);
	}
}

td {
	.btn {
		border-width: 1px !important;
		color: #EC5328;
		text-decoration: none !important;
	}
}