<h3>Address Book</h3>
<div class="address-row-wrapper">
  <div>
    <h5>Current Address</h5>

    <div class="address-col">
      <address>
        <span>All Hanaflah</span>
        <span>Blake 876 Tamplnes street 84</span>
        <span>#02-22</span>
        <span>Singapore 520876</span>
      </address>
    </div>
    <div class="address-col">
      <span><strong>Daytime phone</strong> <em>+8801716634698</em></span>
      <span><strong>Mobile</strong> <em>+8801716634698</em></span>
      <span><strong>Email</strong> <em>name@domain.com</em></span>
    </div>
    <div class="address-col">
      <label for="defaultDelivery"><input type="checkbox" id="defaultDelivery" name="defaultDelivery" value="">Default
        delivery address</label>
      <label for="defaultBilling"><input type="checkbox" id="defaultBilling" name="defaultBilling" value="">Default
        billing address</label>
    </div>
		<span>
			<a href="#" class="custom-btn default">Edit details</a>
		</span>
  </div>

  <div>
    <h5>Other Address</h5>

    <div class="address-col">
      <address>
        <span>All Hanaflah</span>
        <span>Blake 876 Tamplnes street 84</span>
        <span>#02-22</span>
        <span>Singapore 520876</span>
      </address>
    </div>
    <div class="address-col">
      <span><strong>Daytime phone</strong> <em>+8801716634698</em></span>
      <span><strong>Mobile</strong> <em>+8801716634698</em></span>
      <span><strong>Email</strong> <em>name@domain.com</em></span>
    </div>
    <div class="address-col">
      <label for="defaultDelivery"><input type="checkbox" id="defaultDelivery" name="defaultDelivery" value="">Default
        delivery address</label>
      <label for="defaultBilling"><input type="checkbox" id="defaultBilling" name="defaultBilling" value="">Default
        billing address</label>
    </div>
		<span>
			<a href="#" class="custom-btn default">Edit details</a>
		</span>
  </div>
  <a href="#" class="custom-btn btn fright">Add address</a>
</div>
