<h3>Contact Designer</h3>
<div class="inner-content">
  <form action="" method="post">
    <label for="" class="todesigner">To :
      <img src="images/bio-pic.jpg" alt="">
    </label>
    <span>Karl Lagerfiveld</span>
    <textarea placeholder="Your message..."></textarea>
    <a href="javascript:;" title="Close (Esc)" class="mfp-close custom-btn default">No, Thanks</a>
    <input type="submit" name="sendMessage" id="sendMessage" class="custom-btn btn-pink" value="Send Message">
  </form>
</div>
