<h3>Delivery Address</h3>
<div class="modal-content-wrapper">
  <div class="col">
    <form action="" method="post">
      <p><strong>Already a member?</strong> Please sign in to retrieve your delivery address</p>
      <input type="email" placeholder="Email address" value="" required>
      <input type="pass" placeholder="Your password here" value="" required>
      <input type="submit" name="submit" id="" class="custom-btn block btn-pink" value="Submit">
      <p>or sign in with facebook</p>
      <a href="javascript:;" class="custom-btn block facebook btn"><i class="fa fa-fw"></i></a>
    </form>
  </div>
  <div class="col">
    <form action="" method="post">
      <p><strong>Be a member</strong> to get proviliages and save your preferences or continue as a guest.</p>
      <input type="text" placeholder="Your email address" value="" required>
      <input type="pass" placeholder="Your password here (at least 10 characters long)" value="" required>
      <input type="submit" name="submit" id="" class="custom-btn block btn-pink" value="Submit">
      <a href="javascript:;" class="custom-btn guest block btn">Proceed as guest</a>
    </form>

  </div>
</div>
