<h3>Payment Method</h3>
<div class="modal-content-wrapper">
	<form action="">
		<label for="visa">
			<span><img src="images/visa.jpg" class="notresponsive" alt="" /></span>
			<input type="radio" name="method" value="visa" id="visa">
		</label>
		<label for="master">
			<span><img src="images/master.jpg" class="notresponsive" alt="" /></span>
			<input type="radio" name="method" value="master" id="master">
		</label>
		<label for="amex">
			<span><img src="images/amex.jpg" class="notresponsive" alt="" /></span>
			<input type="radio" name="method" value="amex" id="amex">
		</label>
		<label for="paypal">
			<span><img src="images/paypal.jpg" class="notresponsive" alt="" /></span>
			<input type="radio" name="method" value="paypal" id="paypal">
		</label>
		<label for="maetro">
			<span><img src="images/maetro.jpg" class="notresponsive" alt="" /></span>
			<input type="radio" name="method" value="maetro" id="maetro">
		</label>
		<input type="submit" name="continue" id="" class="custom-btn block btn-pink" value="Continue">
	</form>
</div>