<div class="vslider">
  <ul id="quick-collection">
    <li>
      <a href="javascript:;">
      <img src="images/q3.jpg" title="" />
      </a>
    </li>
    <li>
      <a href="javascript:;">
        <img src="images/q4.jpg" title="" />
      </a>
    </li>
  </ul>
  <div class="core">
    <img src="images/core.jpg" alt="">
    <div class="overlay-name-company">
      <h3>jordanian</h3>
      <div class="wish-meta">
        <span class="category">stripped calypso stripped calypso</span>
        <span class="price">S$ 2,300</span>
      </div>
      <div class="cta-block">
        <select class="select-size" rel="select">
          <option value="">Select Size</option>
          <option value="small">Small</option>
          <option value="medium">Medium</option>
          <option value="large">Large</option>
          <option value="elarge">Extra large</option>
        </select>
        <select class="select-quantity" rel="select">
          <option value="">Select Quantity</option>
          <option value="small">1</option>
          <option value="medium">2</option>
          <option value="large">3</option>
          <option value="elarge">5</option>
          <option value="elarge">10</option>
          <option value="elarge">20</option>
        </select>
        <br>
        <a href="javascript:;" class="action-item save">Save Item <i class="fa fa-fw"></i></a>
        <a href="javascript:;" class="action-item">Add to Selection <i class="fa fa-fw"></i></a>
      </div>
    </div>
  </div>
</div>