<h3>Subscribe to Runway Newsletter!</h3>
<div class="inner-content">
  <form action="">
    <input type="text" name="" placeholder="Your Email Address...">
    <i class="fa fa-paper-plane"></i>
    <p>Subscribe to our weekly newsletter to receive the latest in your box!</p>
    <a href="javascript:;" title="Close (Esc)" class="mfp-close custom-btn default">No, Thanks</a>
    <input type="submit" name="subscribe-submit" id="subscribe-submit" class="custom-btn btn-pink" value="Subscribe!">
  </form>
</div>

<!--
<form action="">
  <input type="text" name="" placeholder="Your Email Address...">
  <i class="fa fa-paper-plane"></i>
  <p>Subscribe to our weekly newsletter to receive the latest in your box!</p>

   <div class="alert alert-success" role="alert">
    <strong>Well done!</strong> You successfully read this important alert message.
  </div>

  <div class="alert alert-info" role="alert">
    <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
  </div>

  <div class="alert alert-warning" role="alert">
    <strong>Warning!</strong> Better check yourself, you're not looking too good.
  </div>

  <div class="alert alert-danger" role="alert">
    <strong>Oh snap!</strong> Change a few things up and try submitting again.
  </div>

  <a href="javascript:;" title="Close (Esc)" class="mfp-close custom-btn default">No, Thanks</a>
  <input type="submit" name="subscribe-submit" id="subscribe-submit" class="custom-btn btn-pink" value="Subscribe!">

</form>-->
