@import "_vars";

/*@define-mixin icon $network, $color {
    .button.$(network) {
    background-image: url('img/$(network).png');
    background-color: $color;
  }
}

@mixin icon twitter, blue;

@for $i from 1 to 3 {
    p:nth-of-type($i) {
    margin-left: calc( 100% / $i );
  }
}

.post {
  padding: $default_padding;
}

:root {
  --h1_font_size: 3rem;
}

h1 {
  font-size: var(--h1_font_size);
}

@media ( max-width: 75rem ){
  h1 {
    --h1_font_size: 4vw;
  }
}

@each $icon in ($social){
  .icon-$(icon) {
    background: url('img/$(icon).png');
  }
}

$column_count: 3;

.column {
  @if $column_count == 3 {
    width: 33%;
    float: left;
  } @else if $column_count == 2 {
    width: 50%;
    float: left;
  } @else {
    width: 100%;
  }
}

@define-mixin columns $count {
  @if $count == 3 {
    width: 33%;
    float: left;
  } @else if $count == 2 {
    width: 50%;
    float: left;
  } @else {
    width: 100%;
  }
}

.another_column {
  @mixin columns 2;
}

@define-mixin columns_calc $count {
  width: calc( 100% / $count );
  @if $count > 1 {
    float: left;
  }
}

.column_calculated {
  @mixin columns_calc 2;
}

.menu {
  width: 100%;
  a {
    text-decoration: none;
  }
}

%rounded_button {
  border-radius: 0.5rem;
  padding: 1em;
  border-width: 0.0625rem;
  border-style: solid;
}

.blue_button {
  @extend %rounded_button;
  border-color: #2F74D1;
  background-color: #3B8EFF;
}

.red_button {
  @extend %rounded_button;
  border-color: #C41A1E;
  background-color: #FF2025;
}*/



.single-block-item {
  border-radius: 4px;
  border: 1px solid #e7e7e7;
  padding: 15px;
  background-color: #fff;
  margin-bottom: $lost-gutter;
  .title-header {
    display: flex;
    > div {
      &:first-child {
        flex: 1;
      }
    }
  }
}
.title-with-tips {
  h4, h5 {
    margin: 0;
    padding: 0;
  }
  h4 {

  }
  h5 {
    color: #89959B;
  }
}

@lost gutter 15px;


.item-single-wrappers {
  margin-top: $lost-gutter;
  lost-utility: clearfix; 
  > div {
    lost-column: 1/3 60px;
    lost-column-cycle: 3;
    margin-right: $lost-gutter; 
    margin-bottom: $lost-gutter;
  }
} 
.item-single {
  position: relative;
  .label {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 3;
    font-size: 18px;
  }
}
.item-single_res_name {
  display: inline-block;
  padding-top: 5px;
}
.item-single_img {
  img {
    max-width: 100%;
    border-radius: 3px;
  }
}
.item-single_res_name {

}
.sub-zone {
  font-size: 13px;
}
.description {
  font-size: 18px;
}

.nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


/* list card */
.card {
  border-radius: 4px;
  border: 1px solid #e7e7e7;
  padding: 15px;
  background-color: #fff;
  margin-bottom: 15px;
  .card-nested-col {
    display: flex;
    flex-wrap: wrap;
    .img {
      flex-basis: 20%;
      img {
        max-width: 100%;
      }
    }
    .property {
      flex-basis: 80%;
      display: flex;
      > div {
        &:first-child {
          flex: 1;

        }
      }
    }
  }
  .card-bottom-info {
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 10px 0;
    margin: 10px 0;
    ul {
      list-style-type: none;
      padding-left: 0;
      margin-bottom: 0;
      li {
        span {
          display: inline-block;
          min-width: 150px;
          font-size: 18px;
        }
      }
    }
  }
}
.lft {
  padding-left: 15px;
  h3 {
    margin: 0;
    padding: 0;
  }
  .card-address {
    display: block;
  }
}
.rgt {
  text-align: right;
  * {

  }
  .votes {
    display: block;
  }
  .label {
    font-size: 19px;
  }
}
.card-bottom-cta {
  overflow: hidden;
  > a {
    display: block;
    float: left;
    text-align: center;
    height: 40px;
    vertical-align: middle;
    padding-top: 13px;
    font-weight: bold;
    span {
      display: block;
      font-size: 15px;
      font-weight: none;
    }
    
    
    &:hover {
      background-color: #f7f7f7;
    }

  }
  &.three {
    > a {
      width: calc(100% / 3);
      &:nth-child(2) {
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
      }
      &:last-child {
        padding-top: 5px;
      }
    }
  }
    
  &.two {
    > a {
      width: calc(100% / 2);
      &:last-child {
        border-left: 1px solid #ccc;
      }
    }
  }
}

.sort-by-list {
  > a {
    display: block;
    padding-bottom: 6px;
    span {
      color: #333;
    }
    &.active {
      color: #099e44;
      font-weight: 700;
    }
  }
}
.text-center {
  text-align: center;
}
.seeAllLocations {
  color: #89959B;
}
.filter-column {
  h3 {
    margin: 0;
    padding: 0 0 10px;
  }
  h4 {
    margin: 10px 0 5px;
    padding: 0;
    &.first {
      margin-top: 20px;
    }
  }
}
hr {
  margin-top: 10px;
  margin-bottom: 10px;
}