<ul class="designer">
  <li>
    <a href="designer_details.html" class="single-item">
      <img src="images/d1.png" class="notresponsive" />
      <div class="overlay-name-company">
        <h3>Rasel Mahamud</h3>
        <span>Company Name</span>
      </div>
    </a>
  </li>
  <li>
    <a href="designer_details.html" class="single-item">
      <img src="images/d2.png" class="notresponsive" />
      <div class="overlay-name-company">
        <h3>Designer Name</h3>
        <span>Company Name</span>
      </div>
    </a>
  </li>
  <li>
    <a href="designer_details.html" class="single-item">
      <img src="images/d3.png" class="notresponsive" />
      <div class="overlay-name-company">
        <h3>Designer Name</h3>
        <span>Company Name</span>
      </div>
    </a>
  </li>
  <li>
    <a href="designer_details.html" class="single-item">
      <img src="images/d4.png" class="notresponsive" />
      <div class="overlay-name-company">
        <h3>Designer Name</h3>
        <span>Company Name</span>
      </div>
    </a>
  </li>
  <li>
    <a href="designer_details.html" class="single-item">
      <img src="images/d5.png" class="notresponsive" />
      <div class="overlay-name-company">
        <h3>Designer Name</h3>
        <span>Company Name</span>
      </div>
    </a>
  </li>
  <li>
    <a href="designer_details.html" class="single-item">
      <img src="images/d1.png" class="notresponsive" />
      <div class="overlay-name-company">
        <h3>Designer Name</h3>
        <span>Company Name</span>
      </div>
    </a>
  </li>
  <li>
    <a href="designer_details.html" class="single-item">
      <img src="images/d2.png" class="notresponsive" />
      <div class="overlay-name-company">
        <h3>Designer Name</h3>
        <span>Company Name</span>
      </div>
    </a>
  </li>
  <li>
    <a href="designer_details.html" class="single-item">
      <img src="images/d3.png" class="notresponsive" />
      <div class="overlay-name-company">
        <h3>Designer Name</h3>
        <span>Company Name</span>
      </div>
    </a>
  </li>
  <li>
    <a href="designer_details.html" class="single-item">
      <img src="images/d4.png" class="notresponsive" />
      <div class="overlay-name-company">
        <h3>Designer Name</h3>
        <span>Company Name</span>
      </div>
    </a>
  </li>
  <li>
    <a href="designer_details.html" class="single-item">
      <img src="images/d5.png" class="notresponsive" />
      <div class="overlay-name-company">
        <h3>Designer Name</h3>
        <span>Company Name</span>
      </div>
    </a>
  </li>
</ul>