<div>
	<img src="images/runway-footer-logo.png" class="notresponsive" />
</div>
<ul class="bottom-nav fleft">
	<li>
		<a href="from_run_way.html">FROM THE RUN WAY</a>
	</li>
	<li>
		<a href="collections.html">COLLECTIONS</a>
	</li>
	<li>
		<a href="designers.html">DESIGNERS</a>
	</li>
	<li>
		<a href="shows.html">SHOWS</a>
	</li>
</ul>
<ul class="subscribe-social-link fright">
	<li><a href="#test-popup" data-effect="mfp-zoom-in" class="subscribe open-popup-link" title="Subscribe">SUBSCRIBE <i class="fa fa-envelope-o"></i></a></li>
	<li><a href="javascript:;" class="facebook" title="facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
	<li><a href="javascript:;" class="twitter" title="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
	<li><a href="javascript:;" class="pinterest" title="pinterest" target="_blank"><i class="fa fa-pinterest"></i></a></li>
	<li><a href="javascript:;" class="googleplus" title="google-plus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
	<li><a href="javascript:;" class="tumblr" title="tumblr" target="_blank"><i class="fa fa-tumblr"></i></a></li>
</ul>
<span class="copyright">
	<p>&copy; 2015 Runway.Moda Pte Ltd. All Rights Reserved.</p>
</span>