<div class="container-fluid header-bg">
  <nav>
    <h1><a href="index.html" class="replace">Runway</a></h1>
    <span role="primary-nav">
      <a href="from_run_way.html" class="item">From the run way</a>
      <a href="collections.html" class="item">Collections</a>
      <a href="designers.html" class="item">Designers</a>
      <a href="shows.html" class="item">Shows</a>
    </span>
    <span role="secondary-nav">
      <a href="javascript:;" class="item menu-button search open-search-popup" title="Search">Search <i class="fa fa-search"></i></a>
      <a href="login.html" class="item">Sign In</a>
      <a href="sign-up.html" class="item">Sign Up</a>
      <a href="wishlist.html" class="item">Wishlist <span>( 0 )</span></a>
      <a href="cart.html" class="item">Selection <span>( 0 )</span></a>
    </span>
  </nav>
</div>