<ul class="bxslider">
  <li>
    <iframe src="http://player.vimeo.com/video/17914974" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    <div class="products">
      <ol class="products-nav">
        <li>
          <a href="javascript:;">
            <span>Save item <i class="fa fa-heart"></i></span>
            <img src="images/thumbnail-video-product.jpg" class="notresponsive" />
          </a>
        </li>
        <li>
          <a href="javascript:;">
            <span>Save item <i class="fa fa-heart"></i></span>
            <img src="images/2.jpg" class="notresponsive" />
          </a>
        </li>
        <li>
          <a href="javascript:;">
            <span>Save item <i class="fa fa-heart"></i></span>
            <img src="images/3.jpg" class="notresponsive" />
          </a>
        </li>
      </ol>
    </div>
  </li>
  <li>
    <iframe src="http://player.vimeo.com/video/28523422?title=0&amp;byline=0&amp;portrait=0&amp;color=4584be" width="800/embed/?moog_width=800" height="450" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  </li>
</ul>