@import "https://fonts.xz.style/serve/inter.css";
*, *:before, *:after {
  box-sizing: border-box;
}
:root {
	--nc-font-sans: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--nc-font-mono: Consolas, monaco, 'Ubuntu Mono', 'Liberation Mono', 'Courier New', Courier, monospace;
	--nc-tx-1: #000000;
	--nc-tx-2: #1A1A1A;
	--nc-bg-1: #FFFFFF;
	--nc-bg-2: #F6F8FA;
	--nc-bg-3: #E5E7EB;
	--nc-lk-1: #0070F3;
	--nc-lk-2: #0366D6;
	--nc-lk-tx: #FFFFFF;
	--nc-ac-1: #79FFE1;
    --nc-ac-tx: #0C4047;
}
h1,h2,h3,h4,h5,h6{line-height:1;color:var(--nc-tx-1);padding-top:.875rem}
h1,h2,h3{color:var(--nc-tx-1);padding-bottom:2px;margin-bottom:8px;}
h4,h5,h6{margin-bottom:.3rem}
h1{font-size:2.25rem}
h2{font-size:1.85rem}
h3{font-size:1.55rem}
h4{font-size:1.25rem}
h5{font-size:1rem}
h6{font-size:.875rem}
body {
  font-family: var(--nc-font-sans);
}
.App {
  text-align: center;
}

.App-logo {
  
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.my-role {
  padding: 32px;
  max-width: 800px;
}
.my-role strong {
  padding: 0 0 5px;
  display: inline-block;
}

.brand-logo {
  display: flex;
}
.brand-logo img:last-child {
  margin-left: 4px;
}
.height {
  margin: 0;
  position: relative;
  width: 414px;
  height: 800px;
  overflow: hidden;
}
.slider {
  height: 800px !important;
}
.height img {
  max-width: 414px;
  height: auto;
}
li {
  padding-bottom: 10px;
}
.m-auto {
  margin: 10px auto;
  max-width: 450px;
  text-align: center;
}
.dn {
  display: none !important;
}