@mixin retina-border($color, $height: .5, $opacity: .35) {
  $y: $height;
  $_y: $height * 2;
  $retinaHeight: $height * 2;
  $color: unquote('rgba(#{red($color)}, #{green($color)}, #{blue($color)}, #{$opacity})'); //- safe-rgb
  $url: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="1" height="#{$retinaHeight}"%3E%3Crect x="0" y="#{$y}" width="1" height="#{$height}" fill="#{$color}"/%3E%3C/svg%3E');
  $_url: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="1" height="#{$retinaHeight * 2}"%3E%3Crect x="0" y="#{$_y}" width="1" height="#{$retinaHeight}" fill="#{$color}"/%3E%3C/svg%3E');

  background: $url left bottom repeat-x;

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    //- ie special
    background: $_url left bottom repeat-x;
  }
}
