//- Maps
$font-map: (
  'mono': (Consolas, 'Lucida Console', Monaco, monospace),
  'serif': ('PT Serif', Georgia, serif),
  'sans': ('PT Sans', Helvetica, Arial, sans),
);

$size-map: (
  'font-min': 1rem, // 16px
  'font-max': 1.25rem, // 20px
  'line-height-min': 1.2,
  'line-height-max': 1.6,
  'width-min': 20rem, // 320px / 16px
  'width-max': 64rem, // 640px / 16px
);

$color-map: (
  'primary': #000,
  'secondary': #fff,
  'stealthy': #aaa,
  'invisible': #f2f2f2,
  'accent': #0064c1,
  'link': #0064c1,
  'link-hover': #3000c1,
  'link-visited': #6d00c1,
  'alarm': #d00000,
);

//- Functions
@function font($key) {
  @return map-get($font-map, $key);
}

@function size($key) {
  @return map-get($size-map, $key);
}

@function color($key) {
  @return map-get($color-map, $key);
}
