@import 'mixins';
@import 'variables';

//- Basic
* {
  box-sizing: border-box;
}
html {
  font-family: font('serif');
  font-size: 100%;
  line-height: size('line-height-max');
  // background: color('secondary');
  color: color('primary');
  -webkit-overflow-scrolling: touch;
}

//- Layout & fonts

body {
  margin: 1em;
  font-size: size('font-min');
  background-color: #3A3E64;
  @media (min-width: size('width-min')) {
    // source: https://www.smashingmagazine.com/2016/05/fluid-typography/
    $font-size-diff: size('font-max') - size('font-min');
    $width-diff: size('width-max') - size('width-min');
    $ratio: $font-size-diff / $width-diff;

    font-size: calc(#{size('font-min')} + #{$ratio} * (100vw - #{size('width-min')}));
  }

  @media (min-width: size('width-max')) {
    font-size: size('font-max');
  }

  main,
  footer,
  article {
    position: relative;
    max-width: size('width-max');
    margin: 0 auto;
  }

  > header {
    margin-bottom: 3.5em;

    h1 {
      margin: 0;
      font-size: 1.5em;
    }

    p {
      margin: 0;
      font-size: .85em;
    }
  }

  > footer {
    margin-top: 4.5em;
    padding-bottom: 1.5em;
    text-align: center;
    font-size: .8rem;
    color: color('stealthy');
  }
}

nav {
  margin: 1em 0;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin-right: 1em;
      margin-bottom: .25em;
    }
  }

  a {
    &:visited {
      color: color('link');
    }

    &:hover {
      color: color('link-hover');
    }
  }
}

ul, ol {
  margin-top: 0;
  padding-top: 0;
  padding-left: 2.5em;
}

p {
  margin: 1em 0;
  hyphens: auto;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  + ul, + ol {
    margin-top: -.75em;
  }

  img, picture {
    float: right;
    margin-bottom: .5em;
    margin-left: .5em;

    img {
      float: none;
      margin: 0;
    }
  }
}

dd {
  margin-bottom: 1em;
  margin-left: 0;
  padding-left: 2.5em;
}

dt {
  font-weight: 700;
}

blockquote {
  margin: 0;
  padding-left: 2.5em;
}

aside {
  margin: .5em 0;
  font-style: italic;
  color: color('stealthy');

  $shift: 12.5rem; // 200px / 16px
  @media (min-width: size('width-max') + $shift * 2) {
    position: absolute;
    right: -$shift;
    width: $shift * .75;
    max-width: $shift * .75;
    margin: 0;
    padding-left: .5em;
    font-size: .8em;
    border-left: 1px solid color('invisible');
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

section {
  + section {
    margin-top: 2em;
  }
}

//- Typography

h1, h2, h3, h4, h5, h6 {
  margin: 1.25em 0 0;
  line-height: size('line-height-min');

  &:hover, &:focus {
    > a[href^='#'][id] {
      opacity: 1;
      transition: opacity 0s, color 300ms ease-out;
    }
  }

  + p, + details {
    margin-top: .5em;
  }

  > a[href^='#'][id] {
    position: absolute;
    left: -.5em;
    opacity: 0;
    background: none;
    color: rgba(color('primary'), .5);
    transition: opacity 300ms ease-out;

    &:target, &:hover, &:focus {
      opacity: 1;
      box-shadow: none;
      color: color('primary');
      transition: opacity 0s, color 0s;
    }

    &:target:focus {
      outline: none;
    }

    &::before {
      content: '•';
    }
  }
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1.15em;
}

h5 {
  font-size: 1em;
}

h6 {
  margin-top: 1em;
  font-size: 1em;
  color: color('stealthy');
}

article {
  + article {
    margin-top: 5em;
  }

  header {
    p {
      font-family: font('sans');
      font-size: .7em;
      color: color('stealthy');

      + h1, + h2 {
        margin-top: -.25em;
      }
    }

    h1, h2 {
      + p {
        margin-top: .25em;
      }

      a {
        color: color('primary');

        @include retina-border(color('primary'));

        &:visited {
          color: color('stealthy');

          @include retina-border(color('stealthy'));

          &:hover {
            color: color('link-hover');
          }
        }
      }
    }
  }

  > footer {
    margin-top: 1.5em;
    font-size: .85em;
  }
}

a {
  text-decoration: none;
  color: color('link');
  transition: color 300ms ease-out, box-shadow 300ms ease-out;

  @include retina-border(color('link'));

  &:visited {
    color: mix(color('link'), color('secondary')); //- we can't use rgba or change background-image in :visited 'cause of security
  }

  &:hover,
  &:active {
    outline-width: 0;
  }

  &:hover {
    box-shadow: inset 0px -1px color('link-hover');
    color: color('link-hover');
    transition: color 0s, box-shadow 0s;
  }
}

abbr {
  margin-right: -.075em;
  hyphens: none;
  letter-spacing: .075em;
  font-size: .9em;
}

//- Media

img, picture {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

audio, video {
  width: 100%;
  max-width: 100%;
}

video {
  object-position: 0 -1px; // fix strange chrome video controls rendering
}

figure {
  margin: 1em 0 .5em;
  padding: 0;

  + p {
    margin-top: .5em;
  }

  figcaption {
    opacity: .65;
    font-size: .85em;
  }
}

//- Tables

table {
  $scrollBorderColor: rgba(color('primary'), .15);

  display: inline-block;
  border-spacing: 0;
  border-collapse: collapse;
  overflow-x: auto;
  max-width: 100%;
  text-align: left;
  vertical-align: top;
  background:
  linear-gradient($scrollBorderColor 0%, $scrollBorderColor 100%) 0 0,
  linear-gradient($scrollBorderColor 0%, $scrollBorderColor 100%) 100% 0;
  background-attachment: scroll, scroll;
  background-size: 1px 100%, 1px 100%;
  background-repeat: no-repeat, no-repeat;

  caption {
    font-size: .9em;
    background: color('secondary');
  }

  td, th {
    padding: .35em .75em;
    vertical-align: top;
    font-size: .9em;
    border: 1px solid color('invisible');
    border-top: 0;
    border-left: 0;

    &:first-child {
      padding-left: 0;
      background-image: linear-gradient(to right, rgba(color('secondary'), 1) 50%, rgba(color('secondary'), 0) 100%);
      background-size: 2px 100%;
      background-repeat: no-repeat;
    }

    &:last-child {
      padding-right: 0;
      border-right: 0;
      background-image: linear-gradient(to left, rgba(color('secondary'), 1) 50%, rgba(color('secondary'), 0) 100%);
      background-position: 100% 0;
      background-size: 2px 100%;
      background-repeat: no-repeat;
    }

    &:only-child {
      background-image: linear-gradient(to right, rgba(color('secondary'), 1) 50%, rgba(color('secondary'), 0) 100%), linear-gradient(to left, rgba(color('secondary'), 1) 50%, rgba(color('secondary'), 0) 100%);
      background-position: 0 0, 100% 0;
      background-size: 2px 100%, 2px 100%;
      background-repeat: no-repeat, no-repeat;
    }
  }

  th {
    line-height: size('line-height-min');
  }
}

//- Code

code, kbd, var, samp {
  font-family: font('mono');
  font-style: normal;
}

pre {
  $scrollBorderColor: rgba(color('primary'), .15);

  overflow-x: auto;
  font-size: .8em;
  background:
  linear-gradient($scrollBorderColor 0%, $scrollBorderColor 100%) 0 0,
  linear-gradient($scrollBorderColor 0%, $scrollBorderColor 100%) 100% 0;
  background-attachment: scroll, scroll;
  background-size: 1px 100%, 1px 100%;
  background-repeat: no-repeat, no-repeat;

  > code {
    display: inline-block;
    overflow-x: visible;
    box-sizing: border-box;
    min-width: 100%;
    border-right: 3px solid color('secondary'); // 3px 'cause of bad chrome rendering
    border-left: 1px solid color('secondary');
  }
}

//- Misc.

hr {
  height: 1px;
  margin: 2em 0;
  border: 0;
  background: color('invisible');
}

details {
  margin: 1em 0;

  &[open] {
    padding-bottom: .5em;
    border-bottom: 1px solid color('invisible');
  }
}

summary {
  display: inline-block;
  font-weight: 700;
  border-bottom: 1px dashed;
  cursor: pointer;

  &::-webkit-details-marker {
    display: none;
  }
}

noscript {
  color: color('alarm');
}

::selection {
  background: rgba(color('accent'), .15);
}



// new style start 


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}


/****************************************************************************  HEADER
****************************************************************************/
header {
  // background-color: #3A3E64;
  position: fixed;
  z-index: 11;
  left: 50px;
  right: 50px;
  top: 0;
  height: 60px;
  line-height: 60px;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  
}

header * {
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

ul.menu {
  margin: 0;
  padding: 0;
  text-align: center;
  padding-left: 0;
  list-style-type: none;
  text-decoration: none !important;
  border: none !important;
  li {
    padding: 0 8px;
    display: inline-block;
    color: #fff;
    text-decoration: none !important;
    border: none !important;
    a {
      color: #FFD540;
      text-decoration: none !important;
      border: none !important;
    }
  }
}


// about service

.about-services {
    position: relative;
    min-height: 350px;
}
.about-wave {
    animation: wave 5s infinite;
}
@keyframes wave {
    0% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}
.about-services .service {
    border: 4px solid #FFF;
    border-radius: 999px;
    -moz-border-radius: 999px;
    -webkit-border-radius: 999px;
    color: #FFF;
    background: #4A4A4A;
    font-weight: 100;
    font-size: 26px;
    display: inline-block;
    /*position: relative;*/

    vertical-align: top;
    width: 200px;
    height: 200px;
    position: absolute;
    transition: 0.35s;
}
.about-services .service:hover,
.about-services .service:focus {
    transform: scale(1.25);
    border: 4px solid #FAD348;
    z-index: 100;
}
.about-services .service p {
    width: 100%;
    text-align: center;
    line-height: 28px;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
}
.about-services .service.r220 {
    width: 220px;
    height: 220px;
}
.about-services .service.r200 {
    width: 200px;
    height: 200px;
}
.about-services .service.r170 {
    width: 170px;
    height: 170px;
}
.about-services .service.r150 {
    width: 150px;
    height: 150px;
}
.about-services .service.r100 {
    width: 100px;
    height: 100px;
}
.visible-xs {
    display: none !important;
  }
@media all and (max-width: 767px) {
  .about-services {
    transform: scale(0.66) translateX(-80px) translateY(-110px);
    min-height: 420px;
  }
  .hidden-xs {
    display: none !important;
  }
  .visible-xs {
    display:block !important
  }
}


svg.home-svg {
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  height: 200px;
}

.container {
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  padding-top: 60px;
}
.hero-area {
  padding: 44px 170px 200px;
  background-size: cover;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.our-clients {
  padding: 35px 70px;
  background-color: #fff;
  position: relative;
  margin-top: -32px;
}
.our-people {
  padding: 190px 170px 200px;
  // background-color: #efefef;
  background-color: #FFD540;
  margin-top: -209px;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  div {
    display: none;
  }
  input {
    display: none;
  }
  label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;
  }
  input:checked + label {
    color: #555;
    border: 1px solid #ddd;
    border-top: 2px solid orange;
    border-bottom: 1px solid #fff;
  }

  #tab1:checked ~ #content1,
  #tab2:checked ~ #content2,
  #tab3:checked ~ #content3,
  #tab4:checked ~ #content4 {
    display: block;
  }
}
.our-services {
  padding: 190px 170px 200px;
  background-color: #efefef;
  margin-top: -32px;
}


.footer {
  display: flex;
  justify-content: space-between;
  width: 100% !important;
  div {
    text-align: center;
    padding: 70px;
    background-color: #ffffff;
    text-transform: uppercase;
    // width: calc(100% / 3);
    // float: left;
    flex: 1;
    &:last-child {
      box-sizing: border-box;
      border-left: solid 1px rgba(0,0,0,0.1);
      &:before {
        content: url(../images/plus.png);
        float: left;
        margin-left: -120px;
        margin-top: 30px;
      }
    }
  }
}